version: 2.1

jobs:
  build:
    working_directory: ~/circleci-python
    docker:
      - image: "circleci/python:3.6.4"
    steps:
      - checkout

      - checkout  # checkout source code to working directory
      - run:
          command: |  # create whl and use pipenv to install dependencies
            pip install --upgrade pip
            pip install --upgrade
            if [ -e requirements.txt ]; then pip install -r requirements.txt;else pip install -r requirements.pip;fi
            python3 app.py
  test:
    working_directory: ~/circleci-python
    docker:
      - image: "circleci/python:3.6.4"
    steps:
      - checkout
      - run: python3 test_transformer.py

workflows:
  build_and_test:
    jobs:
      - build
      - test:
          requires:
            - build